@use "../variables";

@layer reset, base, components, utilities;

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}


@layer base{
body {
  @apply flex;
  flex-direction: column;
  padding: 2rem;
  font-family: variables.$font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.uoc-container {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  border-radius: 2rem;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.uoc-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  max-width: 200px;
  height: auto;

  @media (min-width: variables.$mqMinWidth) {
    max-width: none;
  }
}

.uoc-title {
  font-family: variables.$font-family-serif;
  font-size: 24px;
  font-weight: 700;
  color: var(--color-uoc-corporate);


  @media (min-width: variables.$mqMinWidth) {
    font-size: 36px;
  }
}

.uoc-footer {
  margin-top: 1.5rem;
  font-size: 0.75rem;
  text-align: center;
}

.sectionblock__title{
  padding: 14px;
}


// Reusable style CSS Atomic.
.text-center { text-align: center; }
.bg-text { font-size: 2rem;}
.font-weight-bold { font-weight: bold;}
  
}

@layer components{
  
  //HEADER - NAVBAR
  .navbar__logo {
  height: 80px;
  width: auto;
}

.navbar__link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.navbar__link:hover {
  text-decoration: underline;
}

.navbar__item {
  list-style: none;
}

.navbar__list {
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;

  
}



}

@layer utilities{
  
}