<footer class="uoc-footer">
   <nav class="navbar bg-uoc-corporate">
    <img class="navbar__logo" src="/src/assets/images/ajuntament-de-santa-margalida-seeklogo.png" alt="Ajuntamiento_SantaMargalidaLogo">
    
   <ul class="navbar__list">
<ul class="navbar__list">
      <li class="bg-secundary rounded text-white p-2  hover:cursor-pointer hover:text-primary hover:bg-uoc-masterbrand ">
        <a href="index.html" class=" font-bold  " >Inicio</a>
      </li>
      <li class="bg-secundary rounded text-white p-2 hover:cursor-pointer hover:text-primary hover:bg-uoc-masterbrand">
        <a href="/src/informacion.html" class=" font-bold rounded">Información</a>
      </li>
       <ul class="navbar__list">
      <li>
        <a href="#" class="navbar__link"><i class="fa-brands fa-google-plus-g text-white"></i></a>
      </li>
      <li >
        <a href="#" class="navbar__link"><i class="fa-brands fa-facebook text-white"></i></a>
      </li>
      <li ">
        <a href="#" class="navbar__link"><i class="fa-brands fa-twitter text-white"></i></a>
      </li>
    </ul>
  </nav>
</footer>
