<header>
  <nav class="navbar bg-uoc-corporate rounded">
    <img
      class="w-32"
      src="/src/assets/images/ajuntament-de-santa-margalida-seeklogo.png"
      alt="Logo"
    />

    <ul class="navbar__list">
      <li class="bg-secundary rounded-full px-7 text-white p-2  hover:cursor-pointer hover:text-primary hover:bg-uoc-masterbrand ">
        <a href="index.html" class=" font-bold  " >Inicio</a>
      </li>
      <li class="bg-secundary rounded-full px-7 text-white p-2 hover:cursor-pointer hover:text-primary hover:bg-uoc-masterbrand">
        <a href="/src/informacion.html" class=" font-bold rounded">Información</a>
      </li>
    </ul>
  </nav>
</header>
