@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

@theme {
  --color-uoc-corporate: #000078;
  --color-uoc-masterbrand: #73edff;
  --color-uoc-bg: color-mix(in srgb, #73edff 30%, white);

  --color-primary: #c67a51;
  --color-secondary: #2a6f9e;
}


$mqMinWidth: 420px;

